!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  =# render_plugin_hook(:before_header, self)
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}/
    %meta{:category => "ruby; setup"}/
    %link{:rel => "stylesheet", :type => 'text/css', :href => 'pipin.css' || config[:css]}/
    %title= @title# || config[:title] 
  %body
    %h1 Pipin Diary
    .menus
      %a{:href => './index' + htmlsufix} Latest
      %a{:href => './archives' + htmlsufix} Archives
      %a{:href => './about' + htmlsufix} About
    .main
      =# render_plugin_hook(:flavour_header, self)
      .content
        .before_content=# render_plugin_hook(:before_content, self)
        != yield
        .before_content=# render_plugin_hook(:after_content, self)
      =# render_plugin_hook(:flavour_footer, self)
    .footer
      .sitemap
        %a{:href => './sitemap.html'} sitemap
      %a{:href => 'https://github.com/dan5/pipin'} Pipin
      &= Pipin::VERSION
      on
      %a{:href => 'http://www.ruby-lang.org/'} Ruby
      &= RUBY_VERSION
